<form>
  <div class="form-group">
    <label for="txtUsername">Username</label>
    <input type="text" class="form-control" [(ngModel)]="userName" name="txtUsername" id="txtUsername" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="txtPassword">Password</label>
    <input type="password" class="form-control" [(ngModel)]="pass" name="txtPassword" id="txtPassword" placeholder="Password">
  </div>
  <button type="button" (click)="onLogin()" class="btn btn-primary">Login</button>
</form>
